<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Infiright_SampleRequest::index" title="Sample Request" translate="title" sortOrder="40">
                    <resource id="Infiright_SampleRequest::manage" title="All Samples Request" translate="title" sortOrder="10" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>
